body {
    font-family: 'IM Fell English SC', serif;
}

.content {
    margin-top: 2rem;
}

.pure-menu-heading {
    color: goldenrod;
    text-transform: none;
}

.statusbar, .footer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: saddlebrown;
    color: goldenrod;
    padding: 5px;
    font-size: 1.3rem;
}

.statusbar .score {
    text-align: center;
}

.footer {
    top: initial;
    bottom: 0;
}

.footer {
    text-align: right;
    padding-right: 10px;
}

.pick {
    cursor: pointer;
    border: 3px solid green;
}
