.tile {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    border-radius: 10px;
    border-style: groove;
    position: relative;
}

.tile.rock {
    background-color: darkgray;
}

.tile.hidden {
    background-color: gray;
}

.tile .action {
    position: absolute;
    border-radius: 10px;
}

.tile .action {
    border: 2px solid red;
}

.tile .action.doable {
    border: 2px solid green;
}

.tile .action.doable:hover {
    background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    cursor: pointer;
}

.tile .action.topleft {
    aspect-ratio: 1;
    width: 25%;
    left: 5%;
    top: 33%;
}

.tile .action.topright {
    aspect-ratio: 2/1;
    width: 55%;
    left: 35%;
    top: 33%;
}

.tile .action.bottomleft {
    aspect-ratio: 1;
    width: 25%;
    left: 5%;
    top: 66%;
}

.tile .action.bottomright {
    aspect-ratio: 2/1;
    width: 55%;
    left: 35%;
    top: 66%;
}

.tile .action.full {
    aspect-ratio: 2/1;
    width: 90%;
    left: 5%;
    top: 50%;
}

.tile .action.left {
    aspect-ratio: 1;
    width: 45%;
    left: 2%;
    top: 45%;
}

.tile .action.right {
    aspect-ratio: 1;
    width: 45%;
    left: 52%;
    top: 45%;
}

.tile .action.top {
    aspect-ratio: 4/1;
    width: 90%;
    left: 5%;
    top: 45%;
}

.tile .action.bottom {
    aspect-ratio: 4/1;
    width: 90%;
    left: 5%;
    top: 70%;
}

.tile .action.first {
    aspect-ratio: 1/1.5;
    width: 16%;
    top: 55%;
    left: 20%;
}

.tile .action.second {
    aspect-ratio: 1/1.5;
    width: 16%;
    top: 55%;
    left: 38%;
}

.tile .action.third {
    aspect-ratio: 1/1.5;
    width: 16%;
    top: 55%;
    left: 56%;
}

.tile .action.fourth {
    aspect-ratio: 1/1.5;
    width: 16%;
    top: 55%;
    left: 73%;
}
