.wall {
    position: absolute;
    display: inline-block;
    border: 1px solid red;
}

.wall.placed {
    background-color: black;
    cursor: pointer;
}

.wall.available {
    background-color: transparent;
}

.wall-0 {
    top: 10%;
    left: 29%;
    width: 4%;
    height: 15%;
}
.wall-1 {
    top: 25%;
    left: 5%;
    width: 23%;
    height: 2.5%;
}
.wall-2 {
    top: 25%;
    left: 32.5%;
    width: 23%;
    height: 2.5%;
}
.wall-3 {
    top: 27%;
    left: 29%;
    width: 4%;
    height: 15%;
}
.wall-4 {
    top: 42%;
    left: 5%;
    width: 23%;
    height: 2.5%;
}
.wall-5 {
    top: 42%;
    left: 32.5%;
    width: 23%;
    height: 2.5%;
}
.wall-6 {
    top: 45%;
    left: 29%;
    width: 4%;
    height: 15%;
}
.wall-7 {
    top: 60%;
    left: 5%;
    width: 23%;
    height: 2.5%;
}
.wall-8 {
    top: 60%;
    left: 32.5%;
    width: 23%;
    height: 2.5%;
}
.wall-9 {
    top: 62%;
    left: 29%;
    width: 4%;
    height: 15%;
}
.wall-10 {
    top: 77%;
    left: 5%;
    width: 23%;
    height: 2.5%;
}
.wall-11 {
    top: 77%;
    left: 32.5%;
    width: 23%;
    height: 2.5%;
}
.wall-12 {
    top: 80%;
    left: 29%;
    width: 4%;
    height: 15%;
}
.wall-13 {
    top: 80%;
    left: 56%;
    width: 4%;
    height: 15%;
}
