
/** TILE SIZING **/
.tile {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 10px;
  border-style: groove;
  position: relative;
}

.tile.rock {
  background-color: darkgray;
}