.tile {
  background-size: contain;
  border-radius: 10px;
  border-style: groove;
  position: relative;
  height: 100%;
  width: 100%;
}

.playerboard {
  position: relative;
  float: left;
  width: 33%;
}

.board {
  background-image: url("assets/img/board.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  aspect-ratio: 2348/3838;
}

.availablerooms {
  width: 32%;
  float: left;
}

.availableroom {
  float: left;
  display: inline-block;
  width: 23%;
  aspect-ratio: 1;
}

.actiontiles {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.actiontile {
  display: inline-block;
  width: 8.3%;
  aspect-ratio: 1;
}

.playerboard > .actiontiles > .actiontile {
  width: 25%;
  aspect-ratio: 1;
}

.pick {
  cursor: pointer;
  border: 3px solid green;
}
