* {
    font-family: 'Quicksand', sans-serif;
}

.photo-wrapper {
    width: 200px;
    height: 200px;
    border: 5px solid lightblue;
    border-radius: 100%;
    overflow: hidden;
}

.photo-wrapper img {
    width: 190px;
}

.gradient-brand-primary {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
}

.gradient-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
